body {
    background-color: #212121;
}

.hero-section {
    padding: 30px;
}

footer {
    text-align: center;
    color: #FFFFFF;
    font-family: "Commissioner", serif;
}
 
span {
    background-color: #233D66;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    color: #FFFFFF;
}

.main-title {
    width: 100%;
    font-size: 100px;
    font-family: "Commissioner", serif;
    font-weight: 900;    
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    line-height: 1;
}

.description {
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    font-size: 34px;
    font-family: "Commissioner", serif;
    font-weight: 400;
    font-style: normal;
}

.description-goal {
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    opacity: 80%;
    font-size: 24px;
    font-family: "Commissioner", serif;
    font-weight: 400;
    font-style: normal;
}

.screenshots-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.dashboard {
    position: relative;
}

.dashboard-light {
    width: 400px;
    height: 800px;
    border-radius: 18px;
}

.dashboard-dark {
    width: 400px;
    height: 80000px;
    border-radius: 18px;
}

.laws {
    width: 400px;
    height: 800px;
    border-radius: 18px;
}

.law {
    width: 400px;
    height: 800px;
    border-radius: 18px;
}

.drawer {
    width: 400px;
    height: 800px;
    border-radius: 18px;
}

.downloads {
    font-size: 60px;
    font-family: "Commissioner", serif;
    font-style: bold;
    text-align: center;
    font-style: normal;
    color: #FFFFFF;
}

.downloads-number {
    margin-bottom: 0;
    margin-top: 120;
}

.button {
    border-radius: 12px;
    background-color: #4586ef;
    border: none;
    color: white;
    text-align: center;
    width: 50%;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    padding: 30px;
    font-weight: bold;
    cursor: pointer;
  }

  .button:hover {
    background-color: #2876f4;
  } 

.police {
    font-size: 30px;
    margin-top: 0;
}

.playstore-section {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

a {
    text-decoration: none;
}
